@media (max-width: 1080px) {
    .header__row {
        gap: 30px;
    }

    .header__img {
        width: 300px;
        border-radius: 30px;
    }

    .header__title {
        font-size: 52px;
    }

    .header__text {
        font-size: 22px;
    }

    .portfolio__title {
        font-size: 42px;
    }

    .contacts__title {
        font-size: 42px;
    }

    .innerPage__title {
        font-size: 42px;
    }

    .travel__title {
        font-size: 42px;
    }

    .loftHouse__title {
        font-size: 42px;
    }
}

@media (max-width: 767px) {

    /* Header */
    .header {
        padding: 20px 0 40px;
        border-radius: 0 0 60px;
    }

    .header__video {
        border-radius: 0 0 60px;
    }

    .header__row {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 20px;
    }

    .header__img {
        max-width: 100%;
        width: auto;
    }

    .header__title {
        font-size: 32px;
    }

    .header__text {
        font-size: 18px;
    }

    .header__btns {
        display: flex;
        column-gap: 10px;
    }

    .btn {
        padding: 12px 15px 0;
        height: 42px;
    }

    /* Portfolio */

    .porfolio {
        padding: 40px 0;
    }

    .portfolio__items {
        gap: 30px;
    }

    .portfolio__title {
        font-size: 28px;
        margin: 0 0 30px 0;
    }

    .portfolio__img {
        margin: 0 0 20px 0;
        border-radius: 14px;
    }

    .portfolio__text a {
        font-size: 16px;
    }

    .contacts {
        padding: 40px 0;
        border-radius: 60px 0 0 0;
    }

    .contacts__title {
        font-size: 28px;
        line-height: 130%;
        margin: 0 0 30px 0;
    }

    .contacts__item {
        padding: 32px 20px;
        font-size: 16px;
        border-radius: 12px;
    }

    .footer__text {
        font-size: 12px;
    }

    .footer__link a {
        font-size: 12px;
    }

    /* InnerPage__Panto*/

    .innerPage {
        padding: 40px 0 20px;
    }

    .innerPage__header {
        gap: 20px;
    }

    .innerPage__title {
        font-size: 28px;
    }

    .innerPage__blockText {
        gap: 20px;
    }

    .innerPage__link {
        margin: 0 0 20px 0;
    }

    .innerPageMain {
        margin: 0 auto 20px;
    }

    .innerPageFooter__backArrow {
        padding: 15px;
    }

    /* Travel */
    .travel {
        padding: 40px 0 20px;
    }

    .travel__header {
        gap: 20px;
    }

    .travel__title {
        font-size: 28px;
    }

    .travel__blockText {
        gap: 20px;
    }

    .travel__link {
        margin: 0 0 20px;
    }

    .travel__img {
        margin: 0 auto 20px;
    }

    .travel__backArrow {
        padding: 15px;
    }

    /* LoftHouse */
    /* Header */
    .loftHouse {
        padding: 40px 0 20px;
    }

    .loftHouse__header {
        gap: 22px;
        margin: 0 0 20px;
    }

    .loftHouse__title {
        font-size: 28px;
    }

    .loftHouse__block {
        gap: 20px;
    }

    .loftHouse__img {
        margin: 0 auto 20px;
    }

    .loftHouse__backArrow {
        padding: 15px;
    }
}